doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="/js/index.js") 
        title Create your post here
    body
        main  
            h1 Create your post here

            form#formPost  
                input(type="submit", value="submit")
